<h1>Password Generator</h1>
<label> Length </label>
<input type="number" (keypress)="updateLength($event)" />

<input type="checkbox" checked (change)="toggleUpperLetter()" /><label
  >Include Uppercase Letters</label
>
<input type="checkbox" checked (change)="toggleLowerLetter()" /><label
  >Include Lowercase Letters</label
>
<input type="checkbox" checked (change)="toggleNumber()" /><label
  >Include Numbers</label
>
<input type="checkbox" checked (change)="toggleSymbol()" /><label
  >Include Symbols</label
>

<button>Generate</button>

<label>Password</label>
<input type="number" [value]="password" />
