<div class="columns is-centered is-vcentered p-3 m-5">
  <div class="column box">
    <h1 class="title">Password Generator</h1>

    <div class="field">
      <label class="label">Length</label>
      <div class="control">
        <input class="input" [placeholder]="length" (keyup)="updateLength($event)" />
      </div>
    </div>

    <div class="field">
      <label class="checkbox">
        <input type="checkbox" checked (change)="toggleUpperLetter()" />
        Include Uppercase Letters
      </label>
    </div>

    <div class="field">
      <label class="checkbox">
        <input type="checkbox" checked (change)="toggleLowerLetter()" />
        Include Lowercase Letters
      </label>
    </div>

    <div class="field">
      <label class="checkbox">
        <input type="checkbox" checked (change)="toggleNumber()" />
        Include Numbers</label
      >
    </div>

    <div class="field">
      <label class="checkbox">
        <input type="checkbox" checked (change)="toggleSymbol()" />
        Include Symbols
      </label>
    </div>

    <div class="block">
      <button
        (click)="generatePassword()"
        class="button is-primary is-fullwidth mb-3"
      >
        Generate
      </button>
      <span *ngIf="error" class="tag is-danger is-light">{{ error }}</span>
    </div>

    <div class="block">
      <article class="message" *ngIf="password">
        <div class="message-body">
          <div class="block">
            <button
              (click)="copyPassword()"
              class="mr-3 is-rounded button is-small is-outlined"
            >
              Copy
            </button>

            <span *ngIf="showHint" class="tag is-success">
              Copied to clipboard
            </span>
          </div>
          <div class="block">
            {{ password }}
          </div>
        </div>
      </article>
    </div>
  </div>
</div>
